
{% assign object = include.object %}
<div class="card">
    {% if object.image %}
        <img class="card-img-top" src="{{ object.image }}" alt="{{ object.title }}">
    {% endif %}
    <div class="card-block">
        {% if object.title %}
            <h4 class="card-title">
                {{ object.title }}
                {% if object.company %}
                    <span class="tag tag-primary">{{ object.company }}</span>
                {% endif %}
                {% if object.year %}
                    <span class="tag tag-primary">{{ object.year }}</span>
                {% endif %}
                {% if object.type %}
                    <span class="tag tag-primary">{{ object.type }}</span>
                {% endif %}
                {% if object.pages %}
                    <span class="tag tag-info">{{ object.pages }} stran</span>
                {% endif %}
            </h4>
        {% endif %}
        {% if object.content %}
            <p class="card-text">
                {{ object.content | replace: "<blockquote>", "<blockquote class="blockquote">" }}
            </p>
        {% endif %}
    </div>
</div>
